In [41]:
import pandas as pd
import urllib as ur
import ast
import json
import gzip

In [48]:
url = 'https://data.gov.sg/api/action/datastore_search?resource_id=f5542e9d-58d5-48dc-b8c6-4ba692318b41'
hdr = {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.64 Safari/537.11',
       'Accept': '	text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8',
       'Accept-Encoding' :	'gzip, deflate, br',
       'Accept-Language' :	'en-US,en;q=0.5'}

In [49]:
req = ur.request.Request(url, headers=hdr)

In [50]:
f = ur.request.urlopen(req)

In [51]:
data = gzip.decompress(f.read())
jstring = data.decode('utf-8')

In [52]:
jdict = json.loads(jstring)

In [53]:
df = pd.json_normalize(data = jdict['result'], record_path = ['records'])
df

              area  _id domestic_exports  year
0          America    1             4497  1980
1             Asia    2          13692.4  1980
2           Europe    3           3901.6  1980
3          Oceania    4             2831  1980
4           Africa    5              884  1980
..             ...  ...              ...   ...
95  European Union   96               na  1995
96         America   97          27906.7  1996
97            Asia   98          53824.3  1996
98          Europe   99          17835.1  1996
99         Oceania  100           3093.8  1996

[100 rows x 4 columns]